.mislibrardos-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.btn.btn-primary {
  margin-left: 10px;
}

.btn.btn-warning {
  margin-left: 5px;
}


.mislibrardos-title {
  text-align: center;
  margin: 5px;
}

.mislibrardos-sub-title {
  margin-left: 10px;
}



.mislibrardos-sub-container {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  display: grid;
  
  
  
}
.mislibrardos-sub-container-div{
  border: 2px #333 solid;
  background-color: #eee;
  border-radius: 12px;
  padding: 4px;
}

li{
  list-style: none;
  
}

.mislibrardos-container {
  color: black;
  font-size: 18px;
  
}

.mislibrardos-button-div {
  float: right;
}

.button-mislibrardos-delete{
  background-color: #eee;
  border: none;
}

.button-mislibrardos-update{
  background-color: #eee;
  border: none;
}

.mislibrardos-name{
  color: green;
  transition: color 0.25s ease-out;
  padding-right: 12px;
  font-weight: 600;
}

.mislibrardos-name:hover{
  color: blue;
}

.mislibrardos-expired-text{
  color:red;
  font-weight: 600;
}

.btn.btn-danger.tachito{
  margin-left: 6px;
  background-color: white;
  color: red;
  font-size: 12px;
  float: right;
}

.btn.btn-msg.fijar{
  margin-left: 6px;
  background-color: green;
  color: white;
  font-size: 12px;
  float: right;
}


.btn.btn-primary.chico{
  margin-left: 6px;
  font-size: 12px;
  float: right;
}

.btn.btn-danger.chico{
  margin-left: 6px;
  font-size: 12px;
  float: right;
  background-color: red;
  color:white
}
